   <div class="jumbotron">
     <h1 class="title">Good Job Developer</h1>
     <p class="slogan">为你提供发掘Good工作的求职网站。
     <br>
     希望这个网站能为大家人生开启新篇章。
     凭借努力和天份成为人生赢家！
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
   </div>

   <div class="content-section-a">
     <div class="container">
       <div class="row">
         <div class="col-lg-5 col-sm-6">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">快人一步掌握局势</h2>
           <p class="lead">详细完备的求职数据库</p>
         </div>
         <div class="col-lg-5 col-lg-offset-2 col-sm-6">
           <img src="http://ww4.sinaimg.cn/large/006tNbRwgy1ff4rje9pguj30e608admk.jpg", class: 'img-responsive' >
         </div>
       </div>
     </div>
   </div>

   <div class="content-section-b">
     <div class="container">
       <div class="row">
         <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">帮助你找到高薪工作</h2>
           <p class="lead">全球领先企业高薪职位这里都有！ </p>
         </div>
         <div class="col-lg-5 col-sm-pull-7  col-sm-6">
           <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1ff4ro6piawj30d807cah1.jpg", class: 'img-responsive' >
         </div>
       </div>
     </div>
   </div>

   <div class="content-section-a">
     <div class="container">
       <div class="row">
         <div class="col-lg-5 col-sm-6">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">全能专业猎头随时待命</h2>
           <p class="lead">不用犹豫赶快加入我们的求职队伍吧！</p>
         </div>
         <div class="col-lg-5 col-lg-offset-2 col-sm-6">
           <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1ff4rhu04n0j30e608awma.jpg", class: 'img-responsive' >
         </div>
       </div>
     </div>
   </div>






   <section id="company">
     <div class = "container-fluid">
       <div class="row">
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="http://ww4.sinaimg.cn/large/006tNbRwgy1ff4phgzbfaj303k03kglg.jpg" alt="search" class = "img-thumbnail">
             <div class="caption">
               <h3>上海陆家嘴金融中心</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1ff4phknwgpj303k03kq2q.jpg" alt="bid" class = "img-thumbnail">
             <div class="caption">
               <h3>info@goodjob.com</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1ff4ph8juslj303k03k3ya.jpg" alt="heart" class = "img-thumbnail">
             <div class="caption">
               <h3>021-12345678</h3>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
